<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 
?>

<script type="text/javascript">
jQuery(document).ready(function(){
	$('[name=start]').datepicker();
	$('[name=density]').spinner();
	$('[name=thLambda]').spinner();
	$('[name=thSpecificHeat]').spinner();
});
</script>

<?php
$title = 'Add new material';
$this->headTitle($title);
?>

<h1><?php echo $title; ?></h1>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));

$form->prepare();
?>
<?php echo $this->form()->openTag($form);?>
	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formHidden($form->get('id'));?>
	<?php echo $this->formRow($form->get('name')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Name'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formRow($form->get('type')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Type'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formRow($form->get('density')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Kg/m3'));?>
	</div></div>

	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formRow($form->get('thLambda')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Lambda'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formRow($form->get('thSpecificHeat')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Chaleur spécifique'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
	</div></div>
	
<?php echo $this->form()->closeTag();?>

