<?php
$title = 'Connect to';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
));
$form->prepare();
?>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->escapeHtml($title); ?></h3>
            </div>
            <div class="panel-body">
				<?echo $this->form()->openTag($form);?>
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formRow($form->get('username')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Name'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formPassword($form->get('password')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Enter your password'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
					</div></div>
				<?echo $this->form()->closeTag();?>
            </div>
            <div class="panel-body">
            <p>
            	<a href="/calculator/createuser">mot de passe oublié</a> | 
            	<a href="/calculator/createuser">Créer un compte</a>
            </p>
            </div>
            
        </div>
    </div>
</div>
