<?php
$title = 'Create access';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
));
$form->prepare();
?>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->escapeHtml($title); ?></h3>
            </div>
            <div class="panel-body">
				<?echo $this->form()->openTag($form);?>
					<?echo $this->formHidden($form->get('id'));?>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formRow($form->get('firstname')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Firstname'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formRow($form->get('lastname')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Lastname'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formRow($form->get('mail')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Mail'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?
					$pwdElmt = $form->get('password');
					echo $this->formLabel($pwdElmt);
					echo $this->formPassword($pwdElmt->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Enter your password'));?>
					</div></div>
					
					<div class="form-group"><div class="col-sm-10">
					<?echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
					</div></div>
				<?echo $this->form()->closeTag();?>
            </div>
        </div>
    </div>
</div>
