<div class="jumbotron">
    <h1>
    </h1>
    <p></p>
    <p><a class="btn btn-success btn-lg" href="https://github.com/zendframework/zf2" target="_blank">
    &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="http://framework.zend.com/zf2" target="_blank">
                &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                </h3>
            </div>
            <div class="panel-body">
                <p>
                </p>
                <p><a class="btn btn-success pull-right" href="http://modules.zendframework.com/" target="_blank">
                &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                </h3>
            </div>
            <div class="panel-body">
                <p>
                </p>
                <p><a class="btn btn-success pull-right" href="http://webchat.freenode.net?channels=zftalk" target="_blank"> &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
