<?php
//$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');

$form = $this->form;
$form->setAttribute('action',
	$this->url('auth',
		array(
			'action' => 'authenticate',
		)
	));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

if ($this->messages){
	echo '<ul>';
	foreach($this->messages as $message)
	{
		echo '<li>'.$message.'</li>';
	}
	echo '</ul>';
}
?>

<?php
$title = 'Login';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
));
$form->prepare();
?>

<script type="text/javascript">
</script>

<div class="container">
	<div class="panel panel-default" style="width:50%; padding:0.5em; margin:5em;">
		<div class="panel-heading">
			<h1>
				<?php echo $title; ?>
			</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4">
					<img class="img-responsive"
						src="<?php echo $this->basePath().'/img/ranchbe.png'?> ">
				</div>
				<div class="col-sm-4">
					<?php echo $this->form()->openTag($form);?>
					<div class="form-group">
						<div class="col-sm-10">
							<?php echo $this->formRow($form->get('username')->setAttribute('class', 'form-control'));?>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<?php echo $this->formRow($form->get('password')->setAttribute('class', 'form-control'));?>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<?php echo $this->formRow($form->get('rememberme'));?>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
						</div>
					</div>
					<?php echo $this->form()->closeTag();?>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="alert alert-info" role="alert">
<?php 
if ($this->messages){
	echo '<ul>';
	foreach($this->messages as $message)
	{
		echo '<li>'.$message.'</li>';
	}
	echo '</ul>';
}
?>
</div>
