<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Bati calculator'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/js/jquery-ui/themes/minified/jquery-ui.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
        	//->prependFile($this->basePath() . '/js/bootstrap.min.js')
        	->prependFile($this->basePath() . '/js/jquery-ui/ui/minified/jquery-ui.custom.min.js')
            ->prependFile($this->basePath() . '/js/jquery/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ;?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
	                    <img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" 
	                    alt="Baticalc"/>&nbsp;<?php echo $this->translate('Bati calc') ?></a>
                </div>
                <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav">
                        <li <?php if($this->url() == $this->url('home')) echo 'class="active"'; ?>><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
                        <li <?php if($this->url() == $this->url('material')) echo 'class="active"'; ?>><a href="<?php echo $this->url('material') ?>"><?php echo $this->translate('Material') ?></a></li>
                        <li <?php if($this->url() == $this->url('build')) echo 'class="active"'; ?>><a href="<?php echo $this->url('build') ?>"><?php echo $this->translate('Builder') ?></a></li>
                        <li <?php if($this->url() == $this->url('recipe')) echo 'class="active"'; ?>><a href="<?php echo $this->url('recipe') ?>"><?php echo $this->translate('Recette') ?></a></li>
                        <li <?php if($this->url() == $this->url('projet')) echo 'class="active"'; ?>><a href="<?php echo $this->url('projet') ?>"><?php echo $this->translate('Projet') ?></a></li>
                        </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container" style="margin-top:5em">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2013 - <?php echo date('Y') ?> by O. CYSSAU. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
