<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 
?>

<script type="text/javascript">
jQuery(document).ready(function(){
});
</script>

<?php
$title = 'Add new project';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));
$form->prepare();
?>
<?echo $this->form()->openTag($form);?>
	<div class="form-group"><div class="col-sm-10">
	<?echo $this->formHidden($form->get('id'));?>
	<?echo $this->formRow($form->get('name')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Name'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?echo $this->formRow($form->get('description')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Type'));?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
	</div></div>
	
<?echo $this->form()->closeTag();?>
