
<script>
$(function() {
	$( document ).tooltip({
			position: {
				my: "center top",
				at: "center bottom+5",
			},
			show: {
				duration: "fast"
			},
			hide: {
				effect: "hide"
			});
});
</script>

<div class="jumbotron">
    <h1>Projets
    </h1>
</div>

<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Materiaux</h3>
            </div>
            <div class="panel-body">
                <p><a class="btn btn-success pull-right" href="add" Title="Ajouter un matériaux">Add</a>
                </p>
            <table class="table table-striped">
				        <thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
						</thead>
						<tbody>
				<?foreach($this->List as $mat){?>
					<tr>
						<td><?php echo $this->escapeHtml($mat['id']);?></td>
						<td><?php echo $this->escapeHtml($mat['name']);?></td>
						<td><?php echo $this->escapeHtml($mat['description']);?></td>
						<td>
						<a class="btn btn-default glyphicon glyphicon-pencil" href="edit/<?php echo $mat['id']?>" title="Editer">
						<a class="btn btn-default glyphicon glyphicon-trash" href="delete/<?php echo $mat['id']?>" title="Supprimer">
						</td>
						</tr>
				<?}?>
				</tbody>
				</table>
            </div>
        </div>
</div>
