<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
?>

<script type="text/javascript">
jQuery(document).ready(function(){
	$('[name=azimut]').spinner();
	$('[name=inclinaison]').spinner();
	$('[name=surface]').spinner();
});
</script>

<?php
$title = 'Add new builded surface';
$this->headTitle($title);	
?>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));
$form->prepare();
?>

<div class="jumbotron">
	<?php echo $this->escapeHtml($title); ?>
</div>

<div class="row">
	<div class="col-md-15">
		<?php echo $this->form()->openTag($form);?>
			<div class="form-group"><div class="col-sm-10">
			<?php echo $this->formHidden($form->get('id'));?>
			<?php echo $this->formRow($form->get('name')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Name'));?>
			<?php echo $this->formRow($form->get('description')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Description'));?>
			</div></div>
			
			<div class="form-group"><div class="col-sm-10">
			<?php echo $this->formRow($form->get('surface')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Surface en m2'));?>
			<?php echo $this->formRow($form->get('azimut')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Azimut en degré'));?>
			<?php echo $this->formRow($form->get('inclinaison')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Inclinaison en degré'));?>
			</div></div>
			
			<div class="form-group"><div class="col-sm-10">
			<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
			</div></div>
		<?php echo $this->form()->closeTag();?>
	</div>
</div>
