<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.ui.sortable.js');
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
$this->headScript()->prependFile($this->basePath() . '/js/jquery.rbh.clonable.js');
$this->headLink()->prependStylesheet($this->basePath() . '/js/jquery.icietla.clonable/jquery.icietla.clonable.css');
?>

<script type="text/javascript">
jQuery(document).ready(function(){
	var options = {
			afterclone:function(event,o){
				var len = $(event.target).prev().children().length;
				var copie=$($(event.target).prev().children()[len-1]);
				var layoffsetInput = copie.find("input[name^='layoffset_']");
				layoffsetInput.val(len);
				}
			};

	$('.clonable').clonable(options);
	$('.sortable').sortable({
	    update: function () {
            $(".sortable").children().each(function(i) {
                var li = $(this);
                var offsetInput = li.find("input[name^='layoffset_']");
                offsetInput.val(i);
            });
	    	}
		});
});
</script>

 <style>
.sortable { list-style-type: none; }
.sortable li { margin: 0px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
</style>

<?php
$title = 'Add new builded surface layers';
$this->headTitle($title);
?>

<?php
$formLayer = $this->formLayer;
$formLayer->setAttributes(array(
		'class'=>'form-inline',
));
$formLayer->prepare();
?>

<div class="jumbotron">
	<?php echo $this->escapeHtml($title); ?>
</div>

<h3>Couches</h3>
<?echo $this->form()->openTag($formLayer);?>
<?
echo $this->formHidden($formLayer->get('id'));
echo $this->formHidden($formLayer->get('beforelist'));
?>
<div class="row">
<ul class="clonable sortable">
	<?php
	$row=1;
	while( $formLayer->has('name_'.$row))
	{?>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
		<div class="form-group">
		<?
		echo $this->formRow($formLayer->get('name_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Layer name'));
		echo $this->formHidden($formLayer->get('lnkuid_'.$row));
		echo $this->formHidden($formLayer->get('layid_'.$row));
		echo $this->formHidden($formLayer->get('layoffset_'.$row));
		echo $this->formHidden($formLayer->get('matlnk_'.$row));
		?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($formLayer->get('material_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Material'));?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($formLayer->get('thickness_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Thickness in mm'));?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($formLayer->get('surface_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Surface in m2'));?>
		</div>
		<a class="deClone_btn" href="#"></a>
		</li>
		<?php 
		$row++;
		}?>
</ul>
<a class="clone_btn" href="#"></a>
</div>

<?echo $this->formSubmit($formLayer->get('submit')->setAttribute('class', 'btn btn-default'));?>
<?echo $this->form()->closeTag();?>

