
<script>
$(function() {
	$( document ).tooltip({
			position: {
				my: "center top",
				at: "center bottom+5",
			},
			show: {
				duration: "fast"
			},
			hide: {
				effect: "hide"
			});
});
</script>

<div class="jumbotron">
	<h1>Surface construite</h1>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Surfaces</h3>
		</div>
		<div style="margin: 10px; display: block;">
			<div class="panel-pagination" style="margin: 10px; display: float;">
				<?php
				echo $this->paginator->render($this);
				?>
			</div>
			<div class="panel-filter" style="margin: 10px; display: float;">
				<?php
				echo $this->filter->render($this);
				?>
			</div>
		</div>

		<div class="panel-body">
			<p>
				<a class="btn btn-success pull-right" href="add"
					Title="Ajouter une surface">Add</a>
			</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Description</th>
						<th>Surface</th>
						<th>Volume</th>
						<th>Epaisseur</th>
						<th>Masse</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->List as $elmt){?>
					<tr>
						<td><?php 
						echo $this->escapeHtml($elmt['id']) . '<br />';
						echo str_replace('\\Rbh\\Build\\', '', $this->cConverter->toName($elmt['cid']));
						//echo '('.$elmt['cid'].')';
						?></td>
						<td><?php echo $this->escapeHtml($elmt['name']);?></td>
						<td><?php echo $this->escapeHtml($elmt['description']);?></td>
						<td><?php echo $this->escapeHtml($elmt['surface']);?></td>
						<td><?php echo $this->escapeHtml($elmt['volume']);?></td>
						<td><?php echo $this->escapeHtml($elmt['thickness']);?></td>
						<td><?php echo $this->escapeHtml($elmt['weight']);?></td>
						<td><a class="btn btn-default glyphicon glyphicon-pencil"
							href="edit/<?php echo $elmt['id']?>" title="Editer"> <a
								class="btn btn-default glyphicon glyphicon-th-large"
								href="addlayer/<?php echo $elmt['id']?>"
								title="Ajouter une couche"> <a
									class="btn btn-default glyphicon glyphicon-trash"
									href="delete/<?php echo $elmt['id']?>" title="Supprimer">
						
						</td>
					</tr>
					<?php }
					?>
				</tbody>
			</table>
		</div>
	</div>
</div>
