<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.rbh.clonable.js');
$this->headLink()->prependStylesheet($this->basePath() . '/js/jquery.icietla.clonable/jquery.icietla.clonable.css');
?>

<script type="text/javascript">
jQuery(document).ready(function(){
	$('.clonable').clonable();
	
});
</script>

 <style>
.clonable { list-style-type: none; }
.clonable li { margin: 0px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
</style>

<?php
$title = 'Composer la recette';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-inline',
));
$form->prepare();
?>

<div class="jumbotron">
	<?php echo $this->escapeHtml($title); ?>
</div>

<h3>Ingrédients</h3>
<?echo $this->form()->openTag($form);?>
<?
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('beforelist'));
?>
<div class="row">
<ul class="clonable sortable">
	<?php
	$row=1;
	while( $form->has('name_'.$row))
	{?>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
		<div class="form-group">
		<?
		echo $this->formRow($form->get('name_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Name'));
		echo $this->formHidden($form->get('matid_'.$row));
		?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($form->get('material_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Materiaux'));?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($form->get('qty_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Quantité'));?>
		</div>
		<div class="form-group">
		<?echo $this->formRow($form->get('unit_'.$row)->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Unité'));?>
		</div>
		<a class="deClone_btn" href="#"></a>
		</li>
		<?php 
		$row++;
		}?>
</ul>
<a class="clone_btn" href="#"></a>
</div>

<div class="form-group">
<?echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
</div>
<?echo $this->form()->closeTag();?>

