
<script>
$(function() {
	$( document ).tooltip({
			position: {
				my: "center top",
				at: "center bottom+5",
			},
			show: {
				duration: "fast"
			},
			hide: {
				effect: "hide"
			});
});
</script>

<div class="jumbotron">
    <h1>Recettes</h1>
</div>

<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recettes</h3>
            </div>
            <div class="panel-body">
                <p><a class="btn btn-success pull-right" href="/recette/add" Title="Ajouter un matériaux">Add</a>
                </p>
            <table class="table table-striped">
				        <thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Densité</th>
							<th>Materiaux</th>
							</tr>
						</thead>
						<tbody>
				<?php
				$mat = $this->List->current();
				while( $mat = $this->List->current() ){
					$id = $this->escapeHtml($mat['id']);
					$name = $this->escapeHtml($mat['name']);
					$density = $this->escapeHtml($mat['density']);
					$material = $this->escapeHtml($mat['material']);
					$j=0;
					while($mat['id'] === $id AND $j<100){
						$j++;
						$this->List->next();
						$mat = $this->List->current();
						$material = $material . '<br />' . $this->escapeHtml($mat['material']);
					}
					?>
					<tr>
						<td><?php echo $id;?></td>
						<td><?php echo $name;?></td>
						<td><?php echo $density;?></td>
						<td><?php echo $material;?></td>
						<td>
						<a class="btn btn-default glyphicon glyphicon-pencil" href="/recette/edit/<?php echo $id?>" title="Editer">
						<a class="btn btn-default glyphicon glyphicon-th-large" href="/recette/addingredient/<?php echo $id?>" title="Composer la recette">
						<a class="btn btn-default glyphicon glyphicon-trash" href="/recette/delete/<?php echo $id?>" title="Supprimer">
						</td>
					</tr>
				<?php
				}?>
				</tbody>
				</table>
            </div>
        </div>
</div>
