<div class="jumbotron">Application Root: Sandbox</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Clone</div>
			<div class="panel-body">
			
				<button id="clone">Cloner</button>
				<div class="voiture" id="voiture1">
					<div class="marque">renault</div>
					<div class="couleur">noir</div>
				</div>

<script type="text/javascript">
$(document).ready(function($){
    $('#clone').click(function(e){
        var copie = $('#voiture1').clone();
        copie.find('.marque').html('peugeot');
        copie.find('.couleur').html('rouge').css('color', 'red');
        copie.appendTo('body');
    });
});
</script>

			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"></h3>
			</div>
			<div class="panel-body"></div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"></h3>
			</div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>
