http://www.alsacreations.com/tuto/lire/1572-webgl-3d-three-canvas-threejs.html
http://scenejs.org/ http://bimserver.org/documentation/
http://bimsurfer.org/
http://www.radiatedpixel.com/wordpress/2013/03/27/webgl-3d-model-viewer-using-three-js/
http://threejs.org/examples/#webgl_materials_wireframe
http://jensarps.de/2013/10/29/mouse-picking-collada-models-with-three-js-part-ii/
http://jsfiddle.net/
http://stackoverflow.com/questions/27612407/three-js-raycaster-not-selecting-right-object



<div id="container" style="height:300px; width:300px;"></div>

<script
	src="http://threejs.org/build/three.min.js"></script>
<script
	src="http://threejs.org/examples/js/controls/TrackballControls.js"></script>
<script
	src="http://threejs.org/examples/js/Detector.js"></script>
<script
	src="http://threejs.org/examples/js/libs/stats.min.js"></script>

<script>
	var mesh;
	var container, stats;
	var camera, controls, renderer;
	var cross;
	var INTERSECTED;

	var raycaster = new THREE.Raycaster(); 
	var mouse = new THREE.Vector2(); 
	var scene = new THREE.Scene();
	
	function animate() 
	{
		requestAnimationFrame( animate );
		controls.update();
	}

	function onMouseMove( event ) 
	{
		// calculate mouse position in normalized device coordinates (-1 to +1) for both components 
		mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1
		mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1
	}
	
	function render() { // update the picking ray with the camera and mouse position 
		camera.lookAt( scene.position );
		camera.updateMatrixWorld();
		raycaster.setFromCamera( mouse, camera );	
		
		// calculate objects intersecting the picking ray 
		var intersects = raycaster.intersectObjects( scene.children );
		
		if ( intersects.length > 0 ) {
			selectedColor = new THREE.Color( '0x877673' );
			if ( INTERSECTED != intersects[0].object ) {
				if ( INTERSECTED ) INTERSECTED.material.color = selectedColor;
				INTERSECTED = intersects[0].object;
				INTERSECTED.currentHex = INTERSECTED.material.color = selectedColor;
				INTERSECTED.material.color = selectedColor;
			}
		} 
		else {
			if ( INTERSECTED ) INTERSECTED.material.color= INTERSECTED.currentHex;
			INTERSECTED = null;
		}
		renderer.render( scene, camera );
	} 
	
	function init(){
		// on initialise le moteur de rendu
		renderer = new THREE.WebGLRenderer();
		
		// si WebGL ne fonctionne pas sur votre navigateur vous pouvez utiliser le moteur de rendu Canvas à la place
		// renderer = new THREE.CanvasRenderer();
		//renderer.setSize( window.innerWidth, window.innerHeight );
		renderer.setSize( 300, 300 );
		document.getElementById('container').appendChild(renderer.domElement);
		
		// on initialise la camera que l’on place ensuite sur la scène
		camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 1, 10000 );
		camera.position.set(0, 0, 1000);

		controls = new THREE.TrackballControls( camera );
		controls.rotateSpeed = 3.0;
		controls.zoomSpeed = 3;
		controls.panSpeed = 2;
		controls.noZoom = false;
		controls.noPan = false;
		controls.staticMoving = true;
		controls.dynamicDampingFactor = 2;
		controls.keys = [ 65, 83, 68 ];
		controls.addEventListener( 'change', render );

		// on initialise la scène
		
		// on créé un cube au quel on définie un matériau puis on l’ajoute à la scène 
		var geometry = new THREE.BoxGeometry( 200, 200, 600 );
		var material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: false } );
		var materialMixed = new THREE.ShaderMaterial();
		mesh = new THREE.Mesh( geometry, materialMixed );
		scene.add( mesh );
		
		var egh = new THREE.EdgesHelper( mesh, 0x00ffff );
		egh.material.linewidth = 2;
		scene.add( egh );
		
		var geometry2 = new THREE.BoxGeometry( 100, 50, 400 );
		mesh2 = new THREE.Mesh( geometry2, material );
		scene.add( mesh2 );

		var egh = new THREE.EdgesHelper( mesh2, 0x00ffff );
		egh.material.linewidth = 2;
		scene.add( egh );

		mesh.rotation.x += 0.5;
		mesh.rotation.y += 0.25;
		
		mesh2.position = new THREE.Vector3( 50, 4, 0 );
		mesh2.updateMatrix();

		mesh2.translateX(00);
		mesh2.translateY(100);
		mesh2.translateZ(0);

		var rectLength = 120, rectWidth = 40;
		var rectShape = new THREE.Shape();
		rectShape.moveTo( 0,0 ); 
		rectShape.lineTo( 0, rectWidth ); 
		rectShape.lineTo( rectLength, rectWidth ); 
		rectShape.lineTo( rectLength, 0 ); 
		rectShape.lineTo( 0, 0 ); 
		var rectGeom = new THREE.ShapeGeometry( rectShape ); 
		var rectMesh = new THREE.Mesh( rectGeom, new THREE.MeshBasicMaterial( { color: 0xff0000 } ) ) ;	
		scene.add( rectMesh );
	}


	window.addEventListener( 'mousemove', onMouseMove, false );
	
	init();
	render();
	animate();
  
  </script>

<!-- 	 -->

